<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Asana API</title>
</head>
<body>
    <div class="div-main">
        <div class="div-logo"></div>
        <div class="div-explain">
            <p>Asana API Middleware é um projeto em Node.js desenvolvido para atuar como um middleware, 
                facilitando o acesso e a integração com a API do Asana. Esse middleware permite consultar 
                e gerenciar dados da plataforma Asana, possibilitando o desenvolvimento de aplicações 
                que necessitam integrar informações da ferramenta de gerenciamento de tarefas. </p>
        </div> 
        <div class="div-aboutMe">
            <p class="aboutMe">
                Deselvolvido por: Michael Martins
            </p>
        </div>

    </div>
</body>
</html>